{% extends "base.html" %}

{% block title %}
    Chat here!
{% endblock %}

{% block body %}
    <h1>You can now start chatting here!</h1>
    <form id="snd">
        <input type="text" placeholder="Type your messages" id="msg" name="msg">
        <button>Send</button>
    </form>

    <br>
    
    <div>
        <strong>Messages will pop up here. Happy chatting!</strong>
    </div>
    <ul id="messages">
        {% for msg in msgs %}
            <li>{{ msg }}</li>
        {% endfor %}
    </ul>

    <hr>
    <div><strong>{{ username }}</strong></div>
    <a href="{{ url_for('leavechannel') }}">Leave channel</a>
    <small> (Warning: All messages and other details linked with this channel from you will be deleted permanently)</small>

    <br>

    <a href="{{ url_for('logout')}}">Logout</a>
    <small>  (Warning! All the details will be permanently deleted.)</small>
{% endblock %}