{% extends "base.html" %}

{% block title %}
    Chat here!
{% endblock %}

{% block body %}
<nav class="navbar navbar-light bg-light">
    <img src="../static/icon.png" width="50" height="50">
    <div class="left-side">
        <div>
            <h4 class="username">{{ username }}</h4>
        </div>
        <div>
            <a href="{{ url_for('logout')}}" class="logout">Logout</a>
        </div>
    </div>
</nav>
<br>
    
    <div>
        <strong class="h3 mb-3 font-weight-normal chnl-title">{{ channel }}</strong>
    </div>
    <br>
    <div id="messages" class="list-group msgs overflow-auto" style="height: 350px;">
        
        {% for msg in msgs %}
            <p class="mes">{{ msg }}</p>
        {% endfor %}
    </div>
    
    <div class="send-msg fixed-bottom">
        <div>
        <form id="snd" class="form-group">
            <input type="text" placeholder="Type your messages" id="msg" name="msg" class="form-control" size="auto">
            <input type="submit" value="Send" class="btn btn-success">
        </form>
        </div>
        <div class="lv">
            <a href="{{ url_for('leavechannel') }}" id="leave" class="btn btn-warning">Leave channel</a>
        </div>
    </div>

{% endblock %}